.timeline-texts > .label {
  font-size: 14px;
  font-weight: 500;
  color: #494a4a;
  margin: 0;
}

.timeline-texts > .details {
  font-size: 12px;
  font-weight: 300;
  color: #707070;
  margin: 0;
}

.oval {
  border: 1px solid #0076d5;
  height: 55px;
  width: 55px;
  border-radius: 30px;
  color: #0076d5;
  font-size: 14px;
  font-weight: 350;
  line-height: 19.07px;
}

.oval-active {
  height: 55px;
  width: 55px;
  border-radius: 30px;
  background-color: #d08102;
  color: #fff;
  font-size: 14px;
  font-weight: 350;
  line-height: 19.07px;
}

.oval-done {
  height: 55px;
  width: 55px;
  border-radius: 30px;
  background-color: #00ab50;
  color: #fff;
  font-size: 14px;
  font-weight: 350;
  line-height: 19.07px;
}

.step-line {
  border-left: 1px solid #dee2e6;
  height: 40px;
  margin-left: 28px;
}
